@import "./vars.css";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

body {
    background: var(--bgDarker);
}

.form {
    background: var(--bg);
    width: 40vw;
    margin: auto;
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    background: var(--bg);
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid var(--transparent);
}

textarea{
    width: 100%;
    min-height: 30vh;
    max-height: 60vh;
    resize: none;
    background: var(--bg);
    border: 1px solid var(--transparent);
    box-sizing: border-box;
}