@import "./vars.css";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

body {
    background: var(--bgDarker);
}

.form {
    background: var(--bg);
    width: 40vw;
    margin: auto;
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    background: var(--bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 1px solid var(--transparent);
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--text2);
}

textarea {
    padding: 1rem;
    width: 100%;
    min-height: 25vh;
    max-height: 40vh;
    resize: none;
    background: var(--bg);
    border: 1px solid var(--transparent);
    border-radius: 1rem;
    box-sizing: border-box;
}

/*
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: var(--text);
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #45a049;
}
*/

.centrar8 {
    display: grid;
    grid-template-columns: 46% 8% 46%;
}

.about {
    overflow-y: auto;

}

.about .page {
    padding: 10vh 0;
}