:root {
    --bg: #0d1117;
    --bgDarker: #010409;
    --text: #f0f6fc;
    --text2: #418ced;
    --l5: #c30000;
    --l4: #bd7b00;
    --l3: #c0c000;
    --l2: #79ba17;
    --l1: #00bb00;
    --transparent: #ffffff86;
    --hover: #1b212b;
}