.page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sidebar{
    height: 85vh;
    background: var(--bg);
    border-right: 2px solid var(--transparent);
    box-sizing: border-box;
}

.page .Dashboard{
    grid-column: span 3;
}