.page {
    background: var(--bg);
    height: 100%;
    min-height: 85vh;
    /*padding: 10vh 0;*/
}

.mainPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sidebar {
    height: 85vh;
    background: var(--bg);
    border-right: 2px solid var(--transparent);
    box-sizing: border-box;
}

.page .Dashboard {
    grid-column: span 3;
}

.container {
    background: var(--bg);
    border: 1px solid var(--transparent);
    border-radius: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    line-height: 1.8;
}