@import "../vars.css";

.Dashboard {
    padding: 20px;
    background: var(--bgDarker);
    height: 100vh;
}

h1 {
    color: var(--text);
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: var(--text);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--text);
    background: var(--bg);
    font-size: 16px;
}

th {
    background-color: var(--bg);
}

td:first-child {
    text-align: left;
}

td:not(:first-child) {
    text-align: right;
}

/* 
tr:hover {
    background-color: var(--bg);
}
*/

.mLevel1, .mLevel2, .mLevel3, .mLevel4, .mLevel5 {
    font-weight: bold;
}

.mLevel1 {
    background-color: var(--l1);
}

.mLevel2 {
    background-color: var(--l2);
}

.mLevel3 {
    background-color: var(--l3);
}

.mLevel4 {
    background-color: var(--l4);
}

.mLevel5 {
    background-color: var(--l5);
}