.searchContainer {
    width: 100%;
    box-sizing: border-box;
}

.searchStockInput {}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li,
.loadingOption {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 0.5rem;
    border-bottom: 1px solid var(--text);
}

li p {
    grid-column: span 9;
}

.addButton {
    background-color: transparent;
    border: 1px solid currentColor;
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    transition: all 0.3s ease;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.added {
    background-color: green;
    color: white;
    border-color: green;
    cursor: default;
    transition: all 0.3s ease;
}